/* Advanced stylesheet */
/*
.customtext {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
}
*/
.customtext2 {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin: 10px 10px 10px 10px;
}

.credits {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #3F9FBF;
  text-align: center;
  /*border: 2px solid #0000ff;*/
  padding: 0px 20px 0px 20px;
  margin: 515px 0px 5px 0px;
}

.small {
  font-size: 8px;
}


.soul {
  color: #2470FD;
  font-family: Impact;
  font-style: normal;
  font-weight: normal;
  font-size: 130px;
  text-align: center;
  margin: 110px 0px 0px 0px;
}
/*
header {
  margin-right: 200px 50px;
}
*/
.spanstyle {
  color: #FDB124;
}

a {
 color: #3F9FBF;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bold;
 text-decoration: none;
 margin-top: 60px;
}

a:hover {
 color: #FDB124;
}

/*
#specialid {
 color: #ffffff;
 font-family: Arial, Helvetica, sans-serif;
 font-style: normal;
 font-weight: normal;
 }
 */

body {
width: 600px;
background-color: #ffffff;
background-image: url(Soul.png);
background-repeat: no-repeat;
background-position: top left;
text-align: center;
margin: 30px 30px 30px 30px;
}

img {
  margin: 25px 0px 0px 0px;
}
