p {
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: normal;
color: #ffffff;
}

ul {
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: normal;
color: #ffffff;
}

.PicA {
border: 2px solid #ff0000;
padding: 10px 10px 10px 10px;
margin: 20px 20px 20px 20px;
background-color: #0000ff;
}

.imgbox {
border: 10px solid #000000;
padding: 2px 2px 2px 2px;
margin: 20px 20px 20px 20px;
background-color: #ffffff;
}

body {
background-image: url(VWStreet.jpg);
background-repeat: repeat;
background-position: top left;
}

/*
.fontcombined {
font: bold 20px Arial, Helvetica, sans-serif;
}
*/
.textcenter {
text-align: center;
}

.textjustify {
text-align: justify;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: normal;
  color: #EFA41A;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: normal;
  color: #EFA41A;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: normal;
  color: #EFA41A;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: normal;
  color: #EFA41A;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: normal;
  color: #EFA41A;
}

#divexample {
 background-color: #808DC0;
}

a:link {
 font-family: Arial, Helvetica, sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #EB1919;
 text-decoration: none;
}

a:hover {
 font-family: Arial, Helvetica, sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #F5F237;
 text-decoration: underline;
}

a:visited {
 font-family: Arial, Helvetica, sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #1FDD1C;
 text-decoration: none;
}

.spanstyle2 {
color: #E7C621;
}

.specialp {
 color: #E73F21;
}
